<!-- This file is used as the base template for all other HTML pages -->
<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Budget Bee</title>
<!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
<nav>
  <h1>Budget Bee</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['user_name'] }}</span>
      <li><a href="{{ url_for('authentication.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('authentication.register') }}">Register</a>
      <li><a href="{{ url_for('authentication.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>