{% extends "base.html" %}

{% block content %}
  <div class="container text-center mt-5" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;">
    <h1>欢迎来到 Budget Bee</h1>
    <p class="lead">选择以开始进行商品比价！</p>
    <!-- Buttons -->
    <div class="btn-group mt-4">
      <!-- Login -->
      <a href="/login" class="btn btn-primary btn-lg">登录</a>
      <!-- Register -->
      <a href="/register" class="btn btn-secondary btn-lg">注册</a>
    </div>
  </div>
{% endblock %}